<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moviedb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add a movie</h1>
	<div>
		<form th:object="${movie}" th:action="@{save}" action="#" method="post">
		  
		  	<label for="title">Title</label>
			<input type="text" id="title" th:field="*{title}" />
			<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</p>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<label for="director">Director</label>
			<input type="text" id="director" th:field="*{director}" />
			<p th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Error</p>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<label for="year">Year</label>
			<input type="text" id="year" th:field="*{year}" />
			<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error</p>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="rating">Rating</label>
			<input type="text" id="rating" th:field="*{rating}" />
			<p th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Error</p>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="length">Length</label>
			<input type="text" id="length" th:field="*{length}" />
			<p th:if="${#fields.hasErrors('length')}" th:errors="*{length}">Error</p>
									
		  	<div style="width: 100px">
		  	<label for="categorylist">Category</label>
			 <select id="categorylist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categorylist}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		</div>
    		
    		<div style="clear: both; display: block; height: 10px; width: 10px"></div>
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>