<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('movielist?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
	<div class="col-md-4">
		<h1 th:text="#{pageName}"></h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	<div class="col-md-4" style="padding: 20px 0">
		<span th:text="#{lang.change}"></span>:
		<select id="locales">
    		<option value=""></option>
    		<option value="en" th:text="#{lang.eng}"></option>
    		<option value="ger" th:text="#{lang.ger}"></option>
		</select>
	</div>
    <table class="table table-striped">
    
		<tr>
		    <th th:text="#{movieTitle}"></th>
		    <th th:text="#{director}"></th>
		    <th th:text="#{year}"></th>
		    <th th:text="#{length}"></th>
		    <th th:text="#{category}"></th>
		    <th th:text="#{rating}"></th>
		    <th sec:authorize="hasAuthority('ADMIN')"></th>
		    <th sec:authorize="hasRole('ADMIN')"> </th>
		    <th></th>
		</tr>  
    	<tr th:each = "movie : ${movies}">
    		<td th:text="${movie.title}"></td>
    		<td th:text="${movie.director}"></td>
    		<td th:text="${movie.year}"></td>
    		<td th:text="${movie.length}"></td>
    		<td th:text="${movie.category.name}"></td>
    		<td th:text="${movie.rating}"></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${movie.id})}" class="btn btn-warning">Edit</a></td>  		
    	</tr>
     </table>
	 <a href="/addmovie" class="btn btn-success">Add a movie</a>    	
</body>
</html>